@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

header {
  height: 88px;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 999990;
}

.nav-logo {
  display: inline-block;
  vertical-align: middle;
}

header img {
  width: 167px;
  height: 32px;
  margin: 28px 1017px 28px 79px;
  vertical-align: middle;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 15px;
  line-height: 28.13px;
  padding-right: 42px;
  text-decoration: none;
  color: #05073c;
  vertical-align: middle;
}

.nav-button {
  margin-right: 113px;
  width: 83.31px;
  height: 44px;
  background-color: #eb662b;
  color: white;
  border-radius: 200px;
  border: none;
  padding: 12px 21px;
  vertical-align: middle;
  cursor: pointer;
}

.nav-item,
.nav-link,
.nav-menu,
.nav-button,
.nav-list {
  display: inline-block;
  vertical-align: middle;
}

.hero {
  background-image: url(../images/Section.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 702px;
  border-radius: 10px 10px;
  position: relative;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 69.73px;
  line-height: 84px;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
}

.hero-paragraph {
  font-size: 14.65px;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 22px;
}

.hero-section {
  width: 629.78px;
  display: inline-block;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-button {
  background-color: #eb662b;
  color: white;
  border-radius: 200px;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  display: block;      
  margin: 0 auto;     
}
